Neplan_Package/Webservices/Exercise webservices (full)/Webservices Training/Service References/NeplanService/NeplanService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfNeplanService.ElementResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NeplanService.ElementResult" nillable="true" type="tns:NeplanService.ElementResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNeplanService.ElementResult" nillable="true" type="tns:ArrayOfNeplanService.ElementResult" />
  <xs:complexType name="NeplanService.ElementResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElementID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XMLdata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="portNr" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NeplanService.ElementResult" nillable="true" type="tns:NeplanService.ElementResult" />
  <xs:complexType name="NeplanService.Connection_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoordinateX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoordinateY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Elem_Connection_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Elem_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Elem_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MPRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phases" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NeplanService.Connection_info" nillable="true" type="tns:NeplanService.Connection_info" />
  <xs:complexType name="ArrayOfNeplanService.LoadGeneration_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NeplanService.LoadGeneration_info" nillable="true" type="tns:NeplanService.LoadGeneration_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNeplanService.LoadGeneration_info" nillable="true" type="tns:ArrayOfNeplanService.LoadGeneration_info" />
  <xs:complexType name="NeplanService.LoadGeneration_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="P" type="xs:double" />
      <xs:element minOccurs="0" name="Q" type="xs:double" />
      <xs:element minOccurs="0" name="Unit" type="xs:short" />
      <xs:element minOccurs="0" name="elementname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="elementtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="elemid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NeplanService.LoadGeneration_info" nillable="true" type="tns:NeplanService.LoadGeneration_info" />
</xs:schema>