Neplan_Package/Webservices/Exercise webservices (full)/Webservices Training/Service References/NeplanService/NeplanService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.neplan.ch/Web/External" elementFormDefault="qualified" targetNamespace="http://www.neplan.ch/Web/External" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd4" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Internal/Services/External/NeplanService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services" />
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="variantName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diagram" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mediumType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="srid" type="xs:int" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="CreateProjectResult" nillable="true" type="q1:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="variantName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diagramName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="GetProjectResult" nillable="true" type="q2:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogOnUrlWithProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q3:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogOnUrlWithProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogOnUrlWithProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogOnUrl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogOnUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogOnUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogOnSessionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q4:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogOnSessionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogOnSessionIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q5:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="un" type="xs:double" />
        <xs:element minOccurs="0" name="fn" type="xs:double" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNodeResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q6:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNodeWithoutGraphic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q7:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="un" type="xs:double" />
        <xs:element minOccurs="0" name="fn" type="xs:double" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNodeWithoutGraphicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNodeWithoutGraphicResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q8:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBusbar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q9:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="un" type="xs:double" />
        <xs:element minOccurs="0" name="fn" type="xs:double" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinates" nillable="true" type="q10:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBusbarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBusbarResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q11:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q12:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinates" nillable="true" type="q13:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLineByNodeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q14:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromNodeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toNodeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinates" nillable="true" type="q15:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLineByNodeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLineByNodeIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLineAsym">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q16:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
        <xs:element minOccurs="0" name="phase" type="xs:short" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinates" nillable="true" type="q17:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLineAsymResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLineAsymResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert2PortElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q18:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phase" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinatesLink1" nillable="true" type="q19:ArrayOfdouble" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinatesLink2" nillable="true" type="q20:ArrayOfdouble" />
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbolAngle" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert2PortElementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert2PortElementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert1PortElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q21:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phase" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinatesLink" nillable="true" type="q22:ArrayOfdouble" />
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbolAngle" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert1PortElementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert1PortElementResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q23:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProtectionElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q24:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="onElementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="atPort" type="xs:short" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="libraryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phase" type="xs:int" />
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProtectionElementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertProtectionElementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeeder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q25:ExternalProject" />
        <xs:element minOccurs="0" name="feederName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFeederResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFeederResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q26:ExternalProject" />
        <xs:element minOccurs="0" name="areaName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstSubArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colorStringArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colorStringSubArea" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAreaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q27:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colorString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertZoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q28:ExternalProject" />
        <xs:element minOccurs="0" name="measurementDefinitionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="portNr" type="xs:short" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="inputDataDefinition" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="measuremens" nillable="true" type="q29:ArrayOfdouble" />
        <xs:element minOccurs="0" name="nameAliasName1AliasName2" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMeasurementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeasurementByElementID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="measurementDefinitionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="portNr" type="xs:short" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="inputDataDefinition" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="measurements" nillable="true" type="q30:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeasurementByElementIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMeasurementByElementIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDiagram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q31:ExternalProject" />
        <xs:element minOccurs="0" name="diagramName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstGraphicLayerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDiagramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDiagramResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGraphicLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q32:ExternalProject" />
        <xs:element minOccurs="0" name="diagramID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphicLayerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGraphicLayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGraphicLayerResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q33:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q34:ExternalProject" />
        <xs:element minOccurs="0" name="loadID" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="loadData" nillable="true" type="q35:LoadData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubLoadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPowerTo1Port">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q36:ExternalProject" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="powerType" type="xs:short" />
        <xs:element minOccurs="0" name="value1" type="xs:double" />
        <xs:element minOccurs="0" name="value2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPowerTo1PortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignPowerTo1PortResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPowerTo1PortByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q37:ExternalProject" />
        <xs:element minOccurs="0" name="elementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="powerType" type="xs:short" />
        <xs:element minOccurs="0" name="value1" type="xs:double" />
        <xs:element minOccurs="0" name="value2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPowerTo1PortByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignPowerTo1PortByIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchElementAtPortByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="portNr" type="xs:short" />
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchElementAtPortByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchElementAtPort">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q38:ExternalProject" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="portNr" type="xs:short" />
        <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchElementAtPortResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q39:ExternalProject" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isInMaintenance" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="zoneGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subAreaGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliasName2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isInMaintenance" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="zoneGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subAreaGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementDataByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q40:ExternalProject" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetElementAttributeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementAttributeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q41:ExternalProject" />
        <xs:element minOccurs="0" name="elementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetElementAttributeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetElementAttributeByIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementAttributeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementAttributeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetElementAttributeByIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementAttributeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElementAttributeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetElementAttributeByNameResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReadAllRoleToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q42:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReadAllRoleToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReadAllRoleToProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoltageLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q43:ExternalProject" />
        <xs:element minOccurs="0" name="un" type="xs:double" />
        <xs:element minOccurs="0" name="colorR" type="xs:int" />
        <xs:element minOccurs="0" name="colorG" type="xs:int" />
        <xs:element minOccurs="0" name="colorB" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoltageLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVoltageLevelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDiagramMinValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q44:ExternalProject" />
        <xs:element minOccurs="0" name="xMin" type="xs:double" />
        <xs:element minOccurs="0" name="yMin" type="xs:double" />
        <xs:element minOccurs="0" name="units" type="xs:short" />
        <xs:element minOccurs="0" name="factorXY" type="xs:double" />
        <xs:element minOccurs="0" name="angle" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDiagramMinValuesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLineStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q45:ExternalProject" />
        <xs:element minOccurs="0" name="lineType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineStyle" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLineStyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLineStyleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q46:ExternalProject" />
        <xs:element minOccurs="0" name="defaultType" type="xs:short" />
        <xs:element minOccurs="0" name="phaseDomination" type="xs:short" />
        <xs:element minOccurs="0" name="isAnsi" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDefaultValuesResult" type="xs:boolean" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q47:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDiagramParameterAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q48:ExternalProject" />
        <xs:element minOccurs="0" name="parameterType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDiagramParameterAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDiagramParameterAttributeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCalcParameterAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q49:ExternalProject" />
        <xs:element minOccurs="0" name="parameterType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCalcParameterAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCalcParameterAttributeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGraphicLayerWorldCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q50:ExternalProject" />
        <xs:element minOccurs="0" name="isDirectionUpY" type="xs:boolean" />
        <xs:element minOccurs="0" name="factor" type="xs:double" />
        <xs:element minOccurs="0" name="angle" type="xs:double" />
        <xs:element minOccurs="0" name="offsetZeroPoint" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGraphicLayerWorldCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetGraphicLayerWorldCoordinatesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNodesFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q51:ExternalProject" />
        <xs:element minOccurs="0" name="listElements" nillable="true" type="ArrayOfImportElementItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNodesFromListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNodesFromListResult" type="xs:boolean" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q52:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElementsFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q53:ExternalProject" />
        <xs:element minOccurs="0" name="listElements" nillable="true" type="ArrayOfImportElementItem" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElementsFromListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddElementsFromListResult" type="xs:boolean" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q54:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubLoadsFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q55:ExternalProject" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="listLoadData" nillable="true" type="q56:ArrayOfLoadData" />
        <xs:element minOccurs="0" name="loadID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubLoadsFromListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubLoadsFromListResult" type="xs:boolean" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q57:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDateTimeLastSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q58:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDateTimeLastSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q59:ExternalProject" />
        <xs:element minOccurs="0" name="analysisType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="simulationDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="networkTypeGroup" type="xs:int" />
        <xs:element minOccurs="0" name="networkTypeGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultSummaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResultSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q60:ExternalProject" />
        <xs:element minOccurs="0" name="analysisType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="simulationDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="networkTypeGroup" type="xs:int" />
        <xs:element minOccurs="0" name="networkTypeGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResultSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListResultSummaryResult" nillable="true" type="q61:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllElementResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q62:ExternalProject" />
        <xs:element minOccurs="0" name="analysisType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllElementResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" minOccurs="0" name="GetAllElementResultsResult" nillable="true" type="q63:ArrayOfNeplanService.ElementResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q64:ExternalProject" />
        <xs:element minOccurs="0" name="analysisType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCalculationSettingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultElementByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q65:ExternalProject" />
        <xs:element minOccurs="0" name="elementID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="portNr" type="xs:int" />
        <xs:element minOccurs="0" name="analysisType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="simulationDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultElementByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultElementByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsElementsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q66:ExternalProject" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="elementID" nillable="true" type="q67:ArrayOfstring" />
        <xs:element minOccurs="0" name="portNr" type="xs:int" />
        <xs:element minOccurs="0" name="analysisType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="simulationDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsElementsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" minOccurs="0" name="GetResultsElementsByIDResult" nillable="true" type="q68:ArrayOfNeplanService.ElementResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultElementByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q69:ExternalProject" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="portNr" type="xs:int" />
        <xs:element minOccurs="0" name="analysisType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="simulationDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultElementByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultElementByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseVariant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q70:ExternalProject" />
        <xs:element minOccurs="0" name="analysisRefenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analysisModule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calcNameID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analysisMethode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analysisLoadOptionXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseVariantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="AnalyseVariantResult" nillable="true" type="q71:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAnalysisDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="analysisRefenceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAnalysisDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAnalysisDoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseWithListFileWithoutSaving">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analysisModule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseWithListFileWithoutSavingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="AnalyseWithListFileWithoutSavingResult" nillable="true" type="q72:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseWithProjectFileWithoutSaving">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analysisModule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseWithProjectFileWithoutSavingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="AnalyseWithProjectFileWithoutSavingResult" nillable="true" type="q73:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseWithCDEFileWithoutSaving">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analysisModule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyseWithCDEFileWithoutSavingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="AnalyseWithCDEFileWithoutSavingResult" nillable="true" type="q74:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAnalysisFromFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analysisModule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAnalysisFromFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="DoAnalysisFromFilesResult" nillable="true" type="q75:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnergyCalculationFromFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnergyCalculationFromFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="EnergyCalculationFromFilesResult" nillable="true" type="q76:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllocationFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="measurementDefinitionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="settings" nillable="true" type="q77:AnalysisParameterSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllocationFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="LoadAllocationFromDBResult" nillable="true" type="q78:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllocationFromMeasurmentFileAndProjectName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadedMeasurementFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="settings" nillable="true" type="q79:AnalysisParameterSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllocationFromMeasurmentFileAndProjectNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="LoadAllocationFromMeasurmentFileAndProjectNameResult" nillable="true" type="q80:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllocationFromMeasurmentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q81:ExternalProject" />
        <xs:element minOccurs="0" name="uploadedMeasurementFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeIncrement" type="xs:int" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="settings" nillable="true" type="q82:AnalysisParameterSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllocationFromMeasurmentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="LoadAllocationFromMeasurmentFileResult" nillable="true" type="q83:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromListFileAndDoLoadAllocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="settings" nillable="true" type="q84:AnalysisParameterSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromListFileAndDoLoadAllocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromListFileAndDoLoadAllocationResult" nillable="true" type="q85:ExternalProject" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="analysisReturnInfo" nillable="true" type="q86:AnalysisReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnaylsisLogFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnaylsisLogFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAnaylsisLogFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnalysisResultFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnalysisResultFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAnalysisResultFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q87:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkedProjectAsDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q88:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkedProjectAsDeletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarkedProjectAsDeletedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withGraphic" type="xs:boolean" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merge" type="xs:boolean" />
        <xs:element minOccurs="0" name="mergeOnNewDiagram" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportFromFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFeederFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q89:ExternalProject" />
        <xs:element minOccurs="0" name="feederList" nillable="true" type="ArrayOfImportFeederItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFeederFromListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFeederFromListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listElements" nillable="true" type="ArrayOfImportElementItem" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromListResult" nillable="true" type="q90:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromListFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromListFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromListFileResult" nillable="true" type="q91:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeProjectFromListFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectToMerge" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mergeOnNewDiagram" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeProjectFromListFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="MergeProjectFromListFileResult" nillable="true" type="q92:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromCDE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withGraphic" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromCDEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromCDEResult" nillable="true" type="q93:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromCDEFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cdeFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ndbFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withGraphic" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromCDEFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromCDEFilesResult" nillable="true" type="q94:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromCDEZipFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withGraphic" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromCDEZipFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromCDEZipFileResult" nillable="true" type="q95:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromPSSEFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rawFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seqFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dyrFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drwFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psseVersion" type="xs:int" />
        <xs:element minOccurs="0" name="ukr" type="xs:boolean" />
        <xs:element minOccurs="0" name="withStations" type="xs:boolean" />
        <xs:element minOccurs="0" name="withBreakers" type="xs:boolean" />
        <xs:element minOccurs="0" name="charNumStations" type="xs:int" />
        <xs:element minOccurs="0" name="nameRule" type="xs:int" />
        <xs:element minOccurs="0" name="lineQuant" type="xs:int" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromPSSEFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromPSSEFilesResult" nillable="true" type="q96:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromPSSEZipFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psseVersion" type="xs:int" />
        <xs:element minOccurs="0" name="ukr" type="xs:boolean" />
        <xs:element minOccurs="0" name="withStations" type="xs:boolean" />
        <xs:element minOccurs="0" name="withBreakers" type="xs:boolean" />
        <xs:element minOccurs="0" name="charNumStations" type="xs:int" />
        <xs:element minOccurs="0" name="nameRule" type="xs:int" />
        <xs:element minOccurs="0" name="lineQuant" type="xs:int" />
        <xs:element minOccurs="0" name="copySettingsFromProjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromPSSEZipFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="ImportFromPSSEZipFileResult" nillable="true" type="q97:ExternalProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromShapeFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromShapeFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportFromShapeFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromNDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q98:ExternalProject" />
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mediumType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromNDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportFromNDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportMeasuredDataFromXMlFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q99:ExternalProject" />
        <xs:element minOccurs="0" name="uploadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="definitionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportMeasuredDataFromXMlFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportMeasuredDataFromXMlFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportProjectToNEP360">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportProjectToNEP360Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/Message" name="ExportProjectToNEP360Result" type="q100:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteMessageToLogFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" minOccurs="0" name="project" nillable="true" type="q101:ExternalProject" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logLvl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteMessageToLogFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserLogFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserLogFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserLogFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogFileAsString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogFileAsStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogFileAsStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogFileAsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogFileAsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLogFileAsListResult" nillable="true" type="q102:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XMLUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.microsoft.com/Message" name="stream" type="q103:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XMLUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XMLUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CDEUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/Message" name="stream" type="q104:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CDEUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CDEUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NDBUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.microsoft.com/Message" name="stream" type="q105:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NDBUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NDBUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nep360Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.microsoft.com/Message" name="stream" type="q106:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nep360UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nep360UploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.microsoft.com/Message" name="stream" type="q107:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZipUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NepMeasUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.microsoft.com/Message" name="stream" type="q108:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NepMeasUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NepMeasUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/Message" name="GetUserLogFileResult" type="q109:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnaylsisLogFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnaylsisLogFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/Message" name="GetAnaylsisLogFileResult" type="q110:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisResultFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalysisResultFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.microsoft.com/Message" name="GetAnalysisResultFileResult" type="q111:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDailyBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isAzure" type="xs:boolean" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDailyBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createDailyBackupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAllExpiredProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAllExpiredProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeAllExpiredProjectsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesOfElementsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesOfElementsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetNamesOfElementsByTypeResult" nillable="true" type="q112:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSwitchStatusOfElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenLoadNames" nillable="true" type="q113:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSwitchStatusOfElementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="FindSwitchStatusOfElementsResult" nillable="true" type="q114:ArrayOfKeyValuePairOfstringNeplanService.Connection_infomHiA0HHi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find_Voltage_Level_of_One_Port_Element">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Voltage" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find_Voltage_Level_of_One_Port_ElementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Find_Voltage_Level_of_One_Port_ElementResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Voltage" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSwitchStatusOfElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GenLoadName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionstatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSwitchStatusOfElementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSwitchStatusOfElementsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPQValuesLdSmAsm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPQValuesLdSmAsmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" minOccurs="0" name="GetPQValuesLdSmAsmResult" nillable="true" type="q115:ArrayOfNeplanService.LoadGeneration_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPowerofLoadsGenerators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectname" nillable="true" type="xs:string" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" minOccurs="0" name="loadgens" nillable="true" type="q116:ArrayOfNeplanService.LoadGeneration_info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPowerofLoadsGeneratorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPowerofLoadsGeneratorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSwitchStatusOfElementList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="elemids" nillable="true" type="q117:ArrayOfguid" />
        <xs:element minOccurs="0" name="connectionstatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSwitchStatusOfElementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSwitchStatusOfElementListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportIEC_62325_451_2FilesAndDoCIMExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderpath" nillable="true" type="xs:string" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="variantID" type="q118:guid" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="onlyOneEQ" type="xs:boolean" />
        <xs:element minOccurs="0" name="mAS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportIEC_62325_451_2FilesAndDoCIMExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services" minOccurs="0" name="ImportIEC_62325_451_2FilesAndDoCIMExportResult" nillable="true" type="q119:NeplanDomainService.ImportReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>