ConsoleApp1/Connected Services/NeplanService/NeplanService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="NeplanDomainService.ImportReturnInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LogInfo" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ReturnValue" type="xs:int" />
      <xs:element minOccurs="0" name="actualCreatedProjectID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="variantID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NeplanDomainService.ImportReturnInfo" nillable="true" type="tns:NeplanDomainService.ImportReturnInfo" />
</xs:schema>