ConsoleApp1/Connected Services/NeplanService/NeplanService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringstring" type="tns:KeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringstring" nillable="true" type="tns:ArrayOfKeyValuePairOfstringstring" />
  <xs:complexType name="KeyValuePairOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringstring" nillable="true" type="tns:KeyValuePairOfstringstring" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringNeplanService.Connection_infomHiA0HHi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringNeplanService.Connection_infomHiA0HHi" type="tns:KeyValuePairOfstringNeplanService.Connection_infomHiA0HHi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringNeplanService.Connection_infomHiA0HHi" nillable="true" type="tns:ArrayOfKeyValuePairOfstringNeplanService.Connection_infomHiA0HHi" />
  <xs:complexType name="KeyValuePairOfstringNeplanService.Connection_infomHiA0HHi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="NeplanService.Connection_info" Namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" name="value" nillable="true" type="q1:NeplanService.Connection_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringNeplanService.Connection_infomHiA0HHi" nillable="true" type="tns:KeyValuePairOfstringNeplanService.Connection_infomHiA0HHi" />
</xs:schema>