Andere/NeplanWebservices3/ClassLibrary1/Web References/ch.neplan.demo/NeplanService0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.neplan.ch/Web/External" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.neplan.ch/Web/External" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.neplan.ch/Web/External/Imports">
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd0" namespace="http://www.neplan.ch/Web/External" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Models.External" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd4" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services.External" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NeplanService_CreateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProject" />
  </wsdl:message>
  <wsdl:message name="NeplanService_CreateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogOnUrlWithProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogOnUrlWithProject" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogOnUrlWithProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogOnUrlWithProjectResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogOnUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogOnUrl" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogOnUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogOnUrlResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogOnSessionID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogOnSessionID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogOnSessionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogOnSessionIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertNode_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNode" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNodeResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertNodeWithoutGraphic_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNodeWithoutGraphic" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertNodeWithoutGraphic_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNodeWithoutGraphicResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertBusbar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBusbar" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertBusbar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBusbarResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertLine_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLine" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLineResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertLineByNodeID_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLineByNodeID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertLineByNodeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLineByNodeIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertLineAsym_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLineAsym" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertLineAsym_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLineAsymResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Insert2PortElement_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert2PortElement" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Insert2PortElement_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert2PortElementResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Insert1PortElement_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert1PortElement" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Insert1PortElement_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert1PortElementResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertProtectionElement_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProtectionElement" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertProtectionElement_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProtectionElementResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertFeeder_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFeeder" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertFeeder_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFeederResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertArea_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertArea" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAreaResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertZone_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertZone" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertZoneResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMeasurement" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertMeasurement_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMeasurementResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertMeasurementByElementID_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMeasurementByElementID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertMeasurementByElementID_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMeasurementByElementIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertDiagram_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDiagram" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertDiagram_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDiagramResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertGraphicLayer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGraphicLayer" />
  </wsdl:message>
  <wsdl:message name="NeplanService_InsertGraphicLayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGraphicLayerResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddSubLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubLoad" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddSubLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubLoadResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AssignPowerTo1Port_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignPowerTo1Port" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AssignPowerTo1Port_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignPowerTo1PortResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AssignPowerTo1PortByID_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignPowerTo1PortByID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AssignPowerTo1PortByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignPowerTo1PortByIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SwitchElementAtPortByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchElementAtPortByID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SwitchElementAtPortByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchElementAtPortByIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SwitchElementAtPort_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchElementAtPort" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SwitchElementAtPort_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchElementAtPortResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetElementData" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetElementDataResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementDataByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SetElementDataByID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementDataByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetElementDataByIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementDataByNameandType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElementDataByNameandType" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementDataByNameandType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElementDataByNameandTypeResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementDataByIDandType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElementDataByIDandType" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementDataByIDandType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElementDataByIDandTypeResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:SetElementAttribute" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetElementAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementAttributeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SetElementAttributeByID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetElementAttributeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetElementAttributeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementAttributeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElementAttributeByID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementAttributeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElementAttributeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementAttributeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElementAttributeByName" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetElementAttributeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElementAttributeByNameResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddReadAllRoleToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReadAllRoleToProject" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddReadAllRoleToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReadAllRoleToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddVoltageLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVoltageLevel" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddVoltageLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVoltageLevelResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDiagramMinValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDiagramMinValues" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDiagramMinValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDiagramMinValuesResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetLineStyle_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLineStyle" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetLineStyle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLineStyleResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDefaultValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultValues" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDefaultValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultValuesResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDiagramParameterAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDiagramParameterAttribute" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDiagramParameterAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDiagramParameterAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetCalcParameterAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCalcParameterAttribute" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetCalcParameterAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCalcParameterAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetGraphicLayerWorldCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGraphicLayerWorldCoordinates" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetGraphicLayerWorldCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGraphicLayerWorldCoordinatesResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddNodesFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNodesFromList" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddNodesFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNodesFromListResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddElementsFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddElementsFromList" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddElementsFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddElementsFromListResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddSubLoadsFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubLoadsFromList" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddSubLoadsFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubLoadsFromListResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDateTimeLastSave_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDateTimeLastSave" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetDateTimeLastSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDateTimeLastSaveResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultSummary" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetListResultSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListResultSummary" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetListResultSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResultSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetAllElementResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllElementResults" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetAllElementResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllElementResultsResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetCalculationSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationSettings" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetCalculationSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculationSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultElementByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultElementByID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultElementByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultElementByIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultsElementsByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsElementsByID" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultsElementsByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsElementsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultElementByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultElementByName" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetResultElementByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultElementByNameResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseVariantWithAnalysisSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseVariantWithAnalysisSettings" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseVariantWithAnalysisSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseVariantWithAnalysisSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseVariant_InputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseVariant" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseVariant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseVariantResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_IsAnalysisDone_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAnalysisDone" />
  </wsdl:message>
  <wsdl:message name="NeplanService_IsAnalysisDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAnalysisDoneResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseWithListFileWithoutSaving_InputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseWithListFileWithoutSaving" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseWithListFileWithoutSaving_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseWithListFileWithoutSavingResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseWithProjectFileWithoutSaving_InputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseWithProjectFileWithoutSaving" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseWithProjectFileWithoutSaving_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseWithProjectFileWithoutSavingResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseWithCDEFileWithoutSaving_InputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseWithCDEFileWithoutSaving" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AnalyseWithCDEFileWithoutSaving_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnalyseWithCDEFileWithoutSavingResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DoAnalysisFromFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAnalysisFromFiles" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DoAnalysisFromFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAnalysisFromFilesResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_EnergyCalculationFromFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:EnergyCalculationFromFiles" />
  </wsdl:message>
  <wsdl:message name="NeplanService_EnergyCalculationFromFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnergyCalculationFromFilesResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_LoadAllocationFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllocationFromDB" />
  </wsdl:message>
  <wsdl:message name="NeplanService_LoadAllocationFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllocationFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_LoadAllocationFromMeasurmentFileAndProjectName_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllocationFromMeasurmentFileAndProjectName" />
  </wsdl:message>
  <wsdl:message name="NeplanService_LoadAllocationFromMeasurmentFileAndProjectName_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllocationFromMeasurmentFileAndProjectNameResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_LoadAllocationFromMeasurmentFile_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllocationFromMeasurmentFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_LoadAllocationFromMeasurmentFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllocationFromMeasurmentFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromListFileAndDoLoadAllocation_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromListFileAndDoLoadAllocation" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromListFileAndDoLoadAllocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromListFileAndDoLoadAllocationResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteAnaylsisLogFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnaylsisLogFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteAnaylsisLogFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnaylsisLogFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteAnalysisResultFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalysisResultFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteAnalysisResultFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalysisResultFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_MarkedProjectAsDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkedProjectAsDeleted" />
  </wsdl:message>
  <wsdl:message name="NeplanService_MarkedProjectAsDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkedProjectAsDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddFeederFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFeederFromList" />
  </wsdl:message>
  <wsdl:message name="NeplanService_AddFeederFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFeederFromListResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromList_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromList" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromListResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromListFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromListFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromListFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromListFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_MergeProjectFromListFile_InputMessage">
    <wsdl:part name="parameters" element="tns:MergeProjectFromListFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_MergeProjectFromListFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:MergeProjectFromListFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromCDE_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromCDE" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromCDE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromCDEResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromCDEFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromCDEFiles" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromCDEFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromCDEFilesResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromCDEZipFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromCDEZipFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromCDEZipFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromCDEZipFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromPSSEFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromPSSEFiles" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromPSSEFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromPSSEFilesResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromPSSEZipFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromPSSEZipFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromPSSEZipFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromPSSEZipFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromShapeFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromShapeFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromShapeFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromShapeFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromNDB_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromNDB" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportFromNDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportFromNDBResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportMeasuredDataFromXMlFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportMeasuredDataFromXMlFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportMeasuredDataFromXMlFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportMeasuredDataFromXMlFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ExportProjectToNEP360_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportProjectToNEP360" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ExportProjectToNEP360_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportProjectToNEP360Response" />
  </wsdl:message>
  <wsdl:message name="NeplanService_WriteMessageToLogFile_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteMessageToLogFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_WriteMessageToLogFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteMessageToLogFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteUserLogFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserLogFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_DeleteUserLogFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserLogFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogFileAsString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFileAsString" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogFileAsString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFileAsStringResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogFileAsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFileAsList" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetLogFileAsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFileAsListResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_XMLUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:XMLUpload" />
  </wsdl:message>
  <wsdl:message name="NeplanService_XMLUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:XMLUploadResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_CDEUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:CDEUpload" />
  </wsdl:message>
  <wsdl:message name="NeplanService_CDEUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:CDEUploadResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_NDBUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:NDBUpload" />
  </wsdl:message>
  <wsdl:message name="NeplanService_NDBUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:NDBUploadResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Nep360Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Nep360Upload" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Nep360Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:Nep360UploadResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ZipUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:ZipUpload" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ZipUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZipUploadResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_NepMeasUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:NepMeasUpload" />
  </wsdl:message>
  <wsdl:message name="NeplanService_NepMeasUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:NepMeasUploadResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetUserLogFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLogFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetUserLogFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLogFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetAnaylsisLogFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnaylsisLogFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetAnaylsisLogFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnaylsisLogFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetAnalysisResultFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisResultFile" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetAnalysisResultFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisResultFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_createDailyBackup_InputMessage">
    <wsdl:part name="parameters" element="tns:createDailyBackup" />
  </wsdl:message>
  <wsdl:message name="NeplanService_createDailyBackup_OutputMessage">
    <wsdl:part name="parameters" element="tns:createDailyBackupResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_removeAllExpiredProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:removeAllExpiredProjects" />
  </wsdl:message>
  <wsdl:message name="NeplanService_removeAllExpiredProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeAllExpiredProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetNamesOfElementsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNamesOfElementsByType" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetNamesOfElementsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNamesOfElementsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_FindSwitchStatusOfElements_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSwitchStatusOfElements" />
  </wsdl:message>
  <wsdl:message name="NeplanService_FindSwitchStatusOfElements_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSwitchStatusOfElementsResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Find_Voltage_Level_of_One_Port_Element_InputMessage">
    <wsdl:part name="parameters" element="tns:Find_Voltage_Level_of_One_Port_Element" />
  </wsdl:message>
  <wsdl:message name="NeplanService_Find_Voltage_Level_of_One_Port_Element_OutputMessage">
    <wsdl:part name="parameters" element="tns:Find_Voltage_Level_of_One_Port_ElementResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ChangeSwitchStatusOfElements_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSwitchStatusOfElements" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ChangeSwitchStatusOfElements_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSwitchStatusOfElementsResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetPQValuesLdSmAsm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPQValuesLdSmAsm" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetPQValuesLdSmAsm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPQValuesLdSmAsmResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetPowerofLoadsGenerators_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPowerofLoadsGenerators" />
  </wsdl:message>
  <wsdl:message name="NeplanService_SetPowerofLoadsGenerators_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPowerofLoadsGeneratorsResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ChangeSwitchStatusOfElementList_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSwitchStatusOfElementList" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ChangeSwitchStatusOfElementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSwitchStatusOfElementListResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportIEC_62325_451_2FilesAndDoCIMExport_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportIEC_62325_451_2FilesAndDoCIMExport" />
  </wsdl:message>
  <wsdl:message name="NeplanService_ImportIEC_62325_451_2FilesAndDoCIMExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportIEC_62325_451_2FilesAndDoCIMExportResponse" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetFeederIDByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeederIDByName" />
  </wsdl:message>
  <wsdl:message name="NeplanService_GetFeederIDByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeederIDByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="NeplanService">
    <wsdl:operation name="CreateProject">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/CreateProject" message="tns:NeplanService_CreateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/CreateProjectResponse" message="tns:NeplanService_CreateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetProject" message="tns:NeplanService_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetProjectResponse" message="tns:NeplanService_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogOnUrlWithProject">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogOnUrlWithProject" message="tns:NeplanService_GetLogOnUrlWithProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogOnUrlWithProjectResponse" message="tns:NeplanService_GetLogOnUrlWithProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogOnUrl">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogOnUrl" message="tns:NeplanService_GetLogOnUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogOnUrlResponse" message="tns:NeplanService_GetLogOnUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogOnSessionID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogOnSessionID" message="tns:NeplanService_GetLogOnSessionID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogOnSessionIDResponse" message="tns:NeplanService_GetLogOnSessionID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNode">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertNode" message="tns:NeplanService_InsertNode_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertNodeResponse" message="tns:NeplanService_InsertNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNodeWithoutGraphic">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertNodeWithoutGraphic" message="tns:NeplanService_InsertNodeWithoutGraphic_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertNodeWithoutGraphicResponse" message="tns:NeplanService_InsertNodeWithoutGraphic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBusbar">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertBusbar" message="tns:NeplanService_InsertBusbar_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertBusbarResponse" message="tns:NeplanService_InsertBusbar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLine">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertLine" message="tns:NeplanService_InsertLine_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertLineResponse" message="tns:NeplanService_InsertLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLineByNodeID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertLineByNodeID" message="tns:NeplanService_InsertLineByNodeID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertLineByNodeIDResponse" message="tns:NeplanService_InsertLineByNodeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLineAsym">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertLineAsym" message="tns:NeplanService_InsertLineAsym_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertLineAsymResponse" message="tns:NeplanService_InsertLineAsym_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert2PortElement">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Insert2PortElement" message="tns:NeplanService_Insert2PortElement_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Insert2PortElementResponse" message="tns:NeplanService_Insert2PortElement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert1PortElement">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Insert1PortElement" message="tns:NeplanService_Insert1PortElement_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Insert1PortElementResponse" message="tns:NeplanService_Insert1PortElement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProtectionElement">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertProtectionElement" message="tns:NeplanService_InsertProtectionElement_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertProtectionElementResponse" message="tns:NeplanService_InsertProtectionElement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFeeder">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertFeeder" message="tns:NeplanService_InsertFeeder_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertFeederResponse" message="tns:NeplanService_InsertFeeder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertArea">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertArea" message="tns:NeplanService_InsertArea_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertAreaResponse" message="tns:NeplanService_InsertArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertZone">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertZone" message="tns:NeplanService_InsertZone_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertZoneResponse" message="tns:NeplanService_InsertZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMeasurement">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertMeasurement" message="tns:NeplanService_InsertMeasurement_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertMeasurementResponse" message="tns:NeplanService_InsertMeasurement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMeasurementByElementID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertMeasurementByElementID" message="tns:NeplanService_InsertMeasurementByElementID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertMeasurementByElementIDResponse" message="tns:NeplanService_InsertMeasurementByElementID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDiagram">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertDiagram" message="tns:NeplanService_InsertDiagram_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertDiagramResponse" message="tns:NeplanService_InsertDiagram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGraphicLayer">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertGraphicLayer" message="tns:NeplanService_InsertGraphicLayer_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/InsertGraphicLayerResponse" message="tns:NeplanService_InsertGraphicLayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubLoad">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddSubLoad" message="tns:NeplanService_AddSubLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddSubLoadResponse" message="tns:NeplanService_AddSubLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignPowerTo1Port">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AssignPowerTo1Port" message="tns:NeplanService_AssignPowerTo1Port_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AssignPowerTo1PortResponse" message="tns:NeplanService_AssignPowerTo1Port_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignPowerTo1PortByID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AssignPowerTo1PortByID" message="tns:NeplanService_AssignPowerTo1PortByID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AssignPowerTo1PortByIDResponse" message="tns:NeplanService_AssignPowerTo1PortByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchElementAtPortByID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SwitchElementAtPortByID" message="tns:NeplanService_SwitchElementAtPortByID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SwitchElementAtPortByIDResponse" message="tns:NeplanService_SwitchElementAtPortByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchElementAtPort">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SwitchElementAtPort" message="tns:NeplanService_SwitchElementAtPort_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SwitchElementAtPortResponse" message="tns:NeplanService_SwitchElementAtPort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetElementData">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementData" message="tns:NeplanService_SetElementData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementDataResponse" message="tns:NeplanService_SetElementData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetElementDataByID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementDataByID" message="tns:NeplanService_SetElementDataByID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementDataByIDResponse" message="tns:NeplanService_SetElementDataByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElementDataByNameandType">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementDataByNameandType" message="tns:NeplanService_GetElementDataByNameandType_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementDataByNameandTypeResponse" message="tns:NeplanService_GetElementDataByNameandType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElementDataByIDandType">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementDataByIDandType" message="tns:NeplanService_GetElementDataByIDandType_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementDataByIDandTypeResponse" message="tns:NeplanService_GetElementDataByIDandType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetElementAttribute">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementAttribute" message="tns:NeplanService_SetElementAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementAttributeResponse" message="tns:NeplanService_SetElementAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetElementAttributeByID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementAttributeByID" message="tns:NeplanService_SetElementAttributeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetElementAttributeByIDResponse" message="tns:NeplanService_SetElementAttributeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElementAttributeByID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementAttributeByID" message="tns:NeplanService_GetElementAttributeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementAttributeByIDResponse" message="tns:NeplanService_GetElementAttributeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElementAttributeByName">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementAttributeByName" message="tns:NeplanService_GetElementAttributeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetElementAttributeByNameResponse" message="tns:NeplanService_GetElementAttributeByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReadAllRoleToProject">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddReadAllRoleToProject" message="tns:NeplanService_AddReadAllRoleToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddReadAllRoleToProjectResponse" message="tns:NeplanService_AddReadAllRoleToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVoltageLevel">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddVoltageLevel" message="tns:NeplanService_AddVoltageLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddVoltageLevelResponse" message="tns:NeplanService_AddVoltageLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDiagramMinValues">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDiagramMinValues" message="tns:NeplanService_SetDiagramMinValues_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDiagramMinValuesResponse" message="tns:NeplanService_SetDiagramMinValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLineStyle">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetLineStyle" message="tns:NeplanService_SetLineStyle_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetLineStyleResponse" message="tns:NeplanService_SetLineStyle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultValues">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDefaultValues" message="tns:NeplanService_SetDefaultValues_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDefaultValuesResponse" message="tns:NeplanService_SetDefaultValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDiagramParameterAttribute">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDiagramParameterAttribute" message="tns:NeplanService_SetDiagramParameterAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDiagramParameterAttributeResponse" message="tns:NeplanService_SetDiagramParameterAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCalcParameterAttribute">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetCalcParameterAttribute" message="tns:NeplanService_SetCalcParameterAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetCalcParameterAttributeResponse" message="tns:NeplanService_SetCalcParameterAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetGraphicLayerWorldCoordinates">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetGraphicLayerWorldCoordinates" message="tns:NeplanService_SetGraphicLayerWorldCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetGraphicLayerWorldCoordinatesResponse" message="tns:NeplanService_SetGraphicLayerWorldCoordinates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNodesFromList">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddNodesFromList" message="tns:NeplanService_AddNodesFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddNodesFromListResponse" message="tns:NeplanService_AddNodesFromList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddElementsFromList">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddElementsFromList" message="tns:NeplanService_AddElementsFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddElementsFromListResponse" message="tns:NeplanService_AddElementsFromList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubLoadsFromList">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddSubLoadsFromList" message="tns:NeplanService_AddSubLoadsFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddSubLoadsFromListResponse" message="tns:NeplanService_AddSubLoadsFromList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDateTimeLastSave">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDateTimeLastSave" message="tns:NeplanService_SetDateTimeLastSave_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetDateTimeLastSaveResponse" message="tns:NeplanService_SetDateTimeLastSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultSummary">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultSummary" message="tns:NeplanService_GetResultSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultSummaryResponse" message="tns:NeplanService_GetResultSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListResultSummary">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetListResultSummary" message="tns:NeplanService_GetListResultSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetListResultSummaryResponse" message="tns:NeplanService_GetListResultSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllElementResults">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetAllElementResults" message="tns:NeplanService_GetAllElementResults_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetAllElementResultsResponse" message="tns:NeplanService_GetAllElementResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalculationSettings">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetCalculationSettings" message="tns:NeplanService_GetCalculationSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetCalculationSettingsResponse" message="tns:NeplanService_GetCalculationSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultElementByID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultElementByID" message="tns:NeplanService_GetResultElementByID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultElementByIDResponse" message="tns:NeplanService_GetResultElementByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultsElementsByID">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultsElementsByID" message="tns:NeplanService_GetResultsElementsByID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultsElementsByIDResponse" message="tns:NeplanService_GetResultsElementsByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultElementByName">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultElementByName" message="tns:NeplanService_GetResultElementByName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetResultElementByNameResponse" message="tns:NeplanService_GetResultElementByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnalyseVariantWithAnalysisSettings">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseVariantWithAnalysisSettings" message="tns:NeplanService_AnalyseVariantWithAnalysisSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseVariantWithAnalysisSettingsResponse" message="tns:NeplanService_AnalyseVariantWithAnalysisSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnalyseVariant">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseVariant" message="tns:NeplanService_AnalyseVariant_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseVariantResponse" message="tns:NeplanService_AnalyseVariant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAnalysisDone">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/IsAnalysisDone" message="tns:NeplanService_IsAnalysisDone_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/IsAnalysisDoneResponse" message="tns:NeplanService_IsAnalysisDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnalyseWithListFileWithoutSaving">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseWithListFileWithoutSaving" message="tns:NeplanService_AnalyseWithListFileWithoutSaving_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseWithListFileWithoutSavingResponse" message="tns:NeplanService_AnalyseWithListFileWithoutSaving_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnalyseWithProjectFileWithoutSaving">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseWithProjectFileWithoutSaving" message="tns:NeplanService_AnalyseWithProjectFileWithoutSaving_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseWithProjectFileWithoutSavingResponse" message="tns:NeplanService_AnalyseWithProjectFileWithoutSaving_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnalyseWithCDEFileWithoutSaving">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseWithCDEFileWithoutSaving" message="tns:NeplanService_AnalyseWithCDEFileWithoutSaving_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AnalyseWithCDEFileWithoutSavingResponse" message="tns:NeplanService_AnalyseWithCDEFileWithoutSaving_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAnalysisFromFiles">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DoAnalysisFromFiles" message="tns:NeplanService_DoAnalysisFromFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DoAnalysisFromFilesResponse" message="tns:NeplanService_DoAnalysisFromFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnergyCalculationFromFiles">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/EnergyCalculationFromFiles" message="tns:NeplanService_EnergyCalculationFromFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/EnergyCalculationFromFilesResponse" message="tns:NeplanService_EnergyCalculationFromFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllocationFromDB">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/LoadAllocationFromDB" message="tns:NeplanService_LoadAllocationFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/LoadAllocationFromDBResponse" message="tns:NeplanService_LoadAllocationFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllocationFromMeasurmentFileAndProjectName">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/LoadAllocationFromMeasurmentFileAndProjectName" message="tns:NeplanService_LoadAllocationFromMeasurmentFileAndProjectName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/LoadAllocationFromMeasurmentFileAndProjectNameResponse" message="tns:NeplanService_LoadAllocationFromMeasurmentFileAndProjectName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllocationFromMeasurmentFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/LoadAllocationFromMeasurmentFile" message="tns:NeplanService_LoadAllocationFromMeasurmentFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/LoadAllocationFromMeasurmentFileResponse" message="tns:NeplanService_LoadAllocationFromMeasurmentFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromListFileAndDoLoadAllocation">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromListFileAndDoLoadAllocation" message="tns:NeplanService_ImportFromListFileAndDoLoadAllocation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromListFileAndDoLoadAllocationResponse" message="tns:NeplanService_ImportFromListFileAndDoLoadAllocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnaylsisLogFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteAnaylsisLogFile" message="tns:NeplanService_DeleteAnaylsisLogFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteAnaylsisLogFileResponse" message="tns:NeplanService_DeleteAnaylsisLogFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalysisResultFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteAnalysisResultFile" message="tns:NeplanService_DeleteAnalysisResultFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteAnalysisResultFileResponse" message="tns:NeplanService_DeleteAnalysisResultFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteProject" message="tns:NeplanService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteProjectResponse" message="tns:NeplanService_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkedProjectAsDeleted">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/MarkedProjectAsDeleted" message="tns:NeplanService_MarkedProjectAsDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/MarkedProjectAsDeletedResponse" message="tns:NeplanService_MarkedProjectAsDeleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromFile" message="tns:NeplanService_ImportFromFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromFileResponse" message="tns:NeplanService_ImportFromFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFeederFromList">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddFeederFromList" message="tns:NeplanService_AddFeederFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/AddFeederFromListResponse" message="tns:NeplanService_AddFeederFromList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromList">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromList" message="tns:NeplanService_ImportFromList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromListResponse" message="tns:NeplanService_ImportFromList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromListFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromListFile" message="tns:NeplanService_ImportFromListFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromListFileResponse" message="tns:NeplanService_ImportFromListFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MergeProjectFromListFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/MergeProjectFromListFile" message="tns:NeplanService_MergeProjectFromListFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/MergeProjectFromListFileResponse" message="tns:NeplanService_MergeProjectFromListFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromCDE">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromCDE" message="tns:NeplanService_ImportFromCDE_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromCDEResponse" message="tns:NeplanService_ImportFromCDE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromCDEFiles">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromCDEFiles" message="tns:NeplanService_ImportFromCDEFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromCDEFilesResponse" message="tns:NeplanService_ImportFromCDEFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromCDEZipFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromCDEZipFile" message="tns:NeplanService_ImportFromCDEZipFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromCDEZipFileResponse" message="tns:NeplanService_ImportFromCDEZipFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromPSSEFiles">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromPSSEFiles" message="tns:NeplanService_ImportFromPSSEFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromPSSEFilesResponse" message="tns:NeplanService_ImportFromPSSEFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromPSSEZipFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromPSSEZipFile" message="tns:NeplanService_ImportFromPSSEZipFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromPSSEZipFileResponse" message="tns:NeplanService_ImportFromPSSEZipFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromShapeFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromShapeFile" message="tns:NeplanService_ImportFromShapeFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromShapeFileResponse" message="tns:NeplanService_ImportFromShapeFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportFromNDB">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromNDB" message="tns:NeplanService_ImportFromNDB_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportFromNDBResponse" message="tns:NeplanService_ImportFromNDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportMeasuredDataFromXMlFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportMeasuredDataFromXMlFile" message="tns:NeplanService_ImportMeasuredDataFromXMlFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportMeasuredDataFromXMlFileResponse" message="tns:NeplanService_ImportMeasuredDataFromXMlFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportProjectToNEP360">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ExportProjectToNEP360" message="tns:NeplanService_ExportProjectToNEP360_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ExportProjectToNEP360Response" message="tns:NeplanService_ExportProjectToNEP360_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteMessageToLogFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/WriteMessageToLogFile" message="tns:NeplanService_WriteMessageToLogFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/WriteMessageToLogFileResponse" message="tns:NeplanService_WriteMessageToLogFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserLogFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteUserLogFile" message="tns:NeplanService_DeleteUserLogFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/DeleteUserLogFileResponse" message="tns:NeplanService_DeleteUserLogFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogFileAsString">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogFileAsString" message="tns:NeplanService_GetLogFileAsString_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogFileAsStringResponse" message="tns:NeplanService_GetLogFileAsString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogFileAsList">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogFileAsList" message="tns:NeplanService_GetLogFileAsList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetLogFileAsListResponse" message="tns:NeplanService_GetLogFileAsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XMLUpload">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/XMLUpload" message="tns:NeplanService_XMLUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/XMLUploadResponse" message="tns:NeplanService_XMLUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CDEUpload">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/CDEUpload" message="tns:NeplanService_CDEUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/CDEUploadResponse" message="tns:NeplanService_CDEUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NDBUpload">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/NDBUpload" message="tns:NeplanService_NDBUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/NDBUploadResponse" message="tns:NeplanService_NDBUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nep360Upload">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Nep360Upload" message="tns:NeplanService_Nep360Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Nep360UploadResponse" message="tns:NeplanService_Nep360Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ZipUpload">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ZipUpload" message="tns:NeplanService_ZipUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ZipUploadResponse" message="tns:NeplanService_ZipUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NepMeasUpload">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/NepMeasUpload" message="tns:NeplanService_NepMeasUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/NepMeasUploadResponse" message="tns:NeplanService_NepMeasUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLogFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetUserLogFile" message="tns:NeplanService_GetUserLogFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetUserLogFileResponse" message="tns:NeplanService_GetUserLogFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnaylsisLogFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetAnaylsisLogFile" message="tns:NeplanService_GetAnaylsisLogFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetAnaylsisLogFileResponse" message="tns:NeplanService_GetAnaylsisLogFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalysisResultFile">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetAnalysisResultFile" message="tns:NeplanService_GetAnalysisResultFile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetAnalysisResultFileResponse" message="tns:NeplanService_GetAnalysisResultFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createDailyBackup">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/createDailyBackup" message="tns:NeplanService_createDailyBackup_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/createDailyBackupResponse" message="tns:NeplanService_createDailyBackup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeAllExpiredProjects">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/removeAllExpiredProjects" message="tns:NeplanService_removeAllExpiredProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/removeAllExpiredProjectsResponse" message="tns:NeplanService_removeAllExpiredProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNamesOfElementsByType">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetNamesOfElementsByType" message="tns:NeplanService_GetNamesOfElementsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetNamesOfElementsByTypeResponse" message="tns:NeplanService_GetNamesOfElementsByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSwitchStatusOfElements">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/FindSwitchStatusOfElements" message="tns:NeplanService_FindSwitchStatusOfElements_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/FindSwitchStatusOfElementsResponse" message="tns:NeplanService_FindSwitchStatusOfElements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find_Voltage_Level_of_One_Port_Element">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Find_Voltage_Level_of_One_Port_Element" message="tns:NeplanService_Find_Voltage_Level_of_One_Port_Element_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/Find_Voltage_Level_of_One_Port_ElementResponse" message="tns:NeplanService_Find_Voltage_Level_of_One_Port_Element_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSwitchStatusOfElements">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ChangeSwitchStatusOfElements" message="tns:NeplanService_ChangeSwitchStatusOfElements_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ChangeSwitchStatusOfElementsResponse" message="tns:NeplanService_ChangeSwitchStatusOfElements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPQValuesLdSmAsm">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetPQValuesLdSmAsm" message="tns:NeplanService_GetPQValuesLdSmAsm_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetPQValuesLdSmAsmResponse" message="tns:NeplanService_GetPQValuesLdSmAsm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPowerofLoadsGenerators">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetPowerofLoadsGenerators" message="tns:NeplanService_SetPowerofLoadsGenerators_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/SetPowerofLoadsGeneratorsResponse" message="tns:NeplanService_SetPowerofLoadsGenerators_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSwitchStatusOfElementList">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ChangeSwitchStatusOfElementList" message="tns:NeplanService_ChangeSwitchStatusOfElementList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ChangeSwitchStatusOfElementListResponse" message="tns:NeplanService_ChangeSwitchStatusOfElementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportIEC_62325_451_2FilesAndDoCIMExport">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportIEC_62325_451_2FilesAndDoCIMExport" message="tns:NeplanService_ImportIEC_62325_451_2FilesAndDoCIMExport_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/ImportIEC_62325_451_2FilesAndDoCIMExportResponse" message="tns:NeplanService_ImportIEC_62325_451_2FilesAndDoCIMExport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeederIDByName">
      <wsdl:input wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetFeederIDByName" message="tns:NeplanService_GetFeederIDByName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.neplan.ch/Web/External/NeplanService/GetFeederIDByNameResponse" message="tns:NeplanService_GetFeederIDByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>